@{
	ViewBag.Title = "What's this all about anyway...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
<p>
	What in the heck is this application all about?? Well a long time ago in a web developers career, a certain recruiter asked her to create
	a web application to search for people as part of the interview process. Being a Lord of the Rings geek, she decided to create a web application
	to search for her favorite characters. It is the hope of this humble web developer that it will not only amuse prospective employers
	but demonstrate her skill level. <br />
</p>
<p>Cheers!</p>
