@{
	ViewBag.Title = "My contact info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	Kate Madge<br />
	8054 South 2575 East<br />
	South Weber, UT 84405<br />
	<abbr title="Phone">P:</abbr>
	801.624.8418
</address>

<address>
	<strong>Email:</strong> <a href="mailto:1sweetkate@gmail.com">1sweetkate@gmail.com</a><br />
</address>